
#currentTime {
    font-weight: 500;
    font-size: 200%;
    background-color: purple;
}

.navbar {
    height: 100px;
    background-color: lightgray;
}

#endBreak {
    display: flex;
    align-items: center;
    height: 150px;
    font-weight: 800;
    font-size: 300%;
    background-color: red;
}

#suggestedEnd {
    font-weight: 600;
    font-size: 250%;
    background-color: yellow;
}