body {
    background-color: lightgray;
    overflow-x: hidden;
}

#breakTime {
    position: relative;
    top: 150px;
}

#currentTime {
    font-weight: 500;
    font-size: 200%;
    background-color: purple;
    border-style: solid;
    border-width: 10px;
}


#endBreak {
    display: flex;
    align-items: center;
    height: 150px;
    font-weight: 800;
    font-size: 300%;
    background-color: red;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 10px;
}

#suggestedEnd {
    font-weight: 600;
    font-size: 250%;
    background-color: yellow;
    border-style: solid;
    border-width: 10px;
}